doctype
html
 head
    meta(charset="utf-8") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge") 
    title glam
    meta(name="description" content="") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0") 
    link(rel="stylesheet" href="assets/css/bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/edit-bootstrap.css")
    link(rel="stylesheet" href="assets/css/font-awesome.min.css")
    link(href="assets/css/style.css", rel="stylesheet")
    link(href="assets/css/presenters.css", rel="stylesheet")
    
 body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
         div(class="container")
            a(class="navbar-brand" href="#") 
                div(class="ima")
                    img(src="assets/images/logo1.png" alt="logo")

            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse move" id="navbarNav")
                ul(class="navbar-nav")
                    li(class="nav-item x")
                        a(class="nav-link" href="#") Home 
                            span(class="sr-only") (current)
                    li(class="nav-item")
                        a(class="nav-link" href="#") Glam
                    li(class="nav-item")
                        a(class="nav-link" href="#") Distinations 
                    li(class="nav-item")
                        a(class="nav-link" href="#") WelcomePart
                    li(class="nav-item")
                        a(class="nav-link active") Presenters
                    li(class="nav-item")
                        a(class="nav-link" href="#") Registration
                    li(class="nav-item")
                        a(class="nav-link" href="#") Responsers
                    li(class="nav-item")
                        a(class="nav-link" href="#") Contact

    div(id="carouselExampleControls" class="carousel slide" data-ride="carousel")
        div(class="carousel-inner")
            div(class="carousel-item active")
                img(class="d-block w-100  img-fluid hi" src="assets/images/presenters/Presenters.png" alt="First slide")
               
    section(class="nextsec")
        div(class="container")
            h3(class="special hh") ZUMBA FITNESS PRESENTERS 
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem1.png")

                        
                div(class="col-md-9 ")
                    h4
                       span ZES 
                       |   ANA GEORGESCU 
                    p Ana Georgescu became a rhythmic gymnast when she was three.
                        | She was part of the Junior Romanian Olympic Team with over 30 Gold
                        | International and National medals won during her career. Ana continued
                        | as a professional dancer in two well known dance companies, AEROS and 
                        | Rhythmix, dancing on some of the most famous stages of the world,
                        |including on Broadway. She is a certified fitness and aerobics instructor and
                        | a rhythmic gymnastics instructor as well. In 2011 she became a Zumba® Education
                        | Specialist and now she teaches Zumba® Instructor Trainings and presents at Fitness
                        | Conventions and Conferences around the world. Ana’s passion for dance and fitness inspires
                        |and motivates thousands of people to have fun while working out and heading towards
                        | a healthy and positive lifestyle.                   
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Romania
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2011

    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem2.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ  
                      |   BENJAMIN RICHARD
                    p Benjamin was born in France and has been living in Paris for 10 years. When he was 5 years old, he discovered the world of artistic gymnastics. His love for this art has allowed him to reach the French national level and to participate in many tournaments. At 18 years old, Benjamin arrived in Paris and went to a university where he obtained a degree in Sports Management along with other diplomas in fitness and physical training. During this time he perfected his dance and acrobatic technical skills, such as capoeira and pole dancing, integrating different performing acts. In 2011 Benjamin became a Zumba® instructor and currently teaches in dance schools throughout Paris. In 2013, he became a Zumba® Jammer and joined the "French Fusion" team at the European conference in Lille.    
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: France
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZJ since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem3.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ  
                      |   CAT CHIEMELU
                    p Catherine Chika Chiemelu, Cat, is a Nigerian-American from Oklahoma. Her passion for dance, especially tropical and international, stems from youth. She served 7 years in the United States Army and found her new passion, the Zumba® program. She now fuses her passion for structure in health and fitness with personal training and teaching Zumba® classes. She enjoys exposing the beauty of tropical West African dance, dancehall, soca, reggae and calypso in her jam sessions and Zumba® classes.                  
                    div(class="row dd") 
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Oklahoma, US
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZJ since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem4.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |  ECEM ÖZCAN
                    p  Catherine Chika Chiemelu, Cat, is a Nigerian-American from Oklahoma. Her passion for dance, especially tropical and international, stems from youth. She served 7 years in the United States Army and found her new passion, the Zumba® program. She now fuses her passion for structure in health and fitness with personal training and teaching Zumba® classes. She enjoys exposing the beauty of tropical West African dance, dancehall, soca, reggae and calypso in her jam sessions and Zumba® classes.
                    div(class="row dd") 
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Turkey
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZJ since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem5.png")
                div(class="col-md-9 ")
                    h4 
                      span ZIN 
                      |   FRANCESCA MARIA 
                    p Francesca Maria Gambelli is an Italian born performing artist and songwriter who began entertaining stages at the young age of 10.From this collaborative process, Francesca's dance hit Dale Dale was born, released worldwide in by Universal Digital Media,Dale Dale achieved tremendous success, especially in the Zumba community reaching approximately 15 million people in over 185 countries.  The song's popularity led her to perform on several international stages from Japan to, Europe, New Zealand and the Americas.  Her latest single " the Bombay" , released globally by Sony Music, combines traditional Indian rhythms with reggaeton and electronic sounds and it's set to make the masses "do the Bombay".
                      | Francesca Maria's mission as a performing artist is to make the world dance, whether it's through her melodies, lyrics or choreography.
                    div(class="row dd") 
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Italy
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZIN since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem6.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |   HENDER CHIEMELU
                    p  Hender is originally from Venezuela and now lives in the United Kingdom. He has been dancing salsa since a young age and became a professional Salsa dancer. In 2007 he became a Zumba® Fitness Instructor. His life long passion for dance and dedication to fitness made me a natural fit for the Zumba® program. He is one of the Zumba® Educational Specialists for the UK.
                    div(class="row dd") 
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Swindon, UK
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem7.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |   KELLY BULLARD 

                    p Kelly is an international fitness educator and has been a Zumba® Education Specialist since 2009. With a bachelor’s degree in Exercise & Sports Science (Health and Physical Education) and a Master’s degree in Sport Administration, her passion, enthusiasm, and experience is for fitness and dance for people of all ages. After 9-years as a physical education teacher, dance and sports coach, Kelly now specializes in many of the Zumba® programs and has presented in over 36 countries. She is featured in several Zumba® DVD’s, and is also featured in Aqua Zumba® Volume 6. Kelly holds a variety of certifications in many areas of fitness, and is a continuing education provider for AEA, AAAI/ISMA, AFAA & ACE.            
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                            | Home Town: Wisconsin, US
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2007
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem8.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |  LORETTA BATES
                    p Loretta is an international fitness presenter and Zumba® Education Specialist. She also teaches hip-hop and belly dance, is a certified group fitness instructor and certified personal trainer and has performed in a European hip-hop dance troupe. Loretta is featured in the Exhilarate™ Body Shaping System, the Incredible Results Consumer DVD set, Basic 2 Instructor DVD, and in various ZIN™ Volumes. She is also featured in the Zumba® Fitness Core Video Game and the cover model and featured in the Zumba® Fitness World Party Game. She is ACE and AFAA certified.
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: North Carolina , US
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2007
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem9.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |  NENA ELENI
                    p Nena Eleni Daskalopoulou was born in Athens, Greece, and is passionate about dancing, education and the Zumba® program! She started dancing at the age of 2, joined the Greek National Gymnastics team and then the National School of Dance in Athens as a student. She was 16 years old when she decided that teaching dance was her dream. After being a member of the Greek Youth Ballet Dance Company for 3 years, she moved to London to study at the Royal Academy of Dance, BA (Hons) in Ballet Education. She has been a passionate Zumba® Education Specialist since 2013 and today she owns 2 studios in Athens: a dance oriented studio and a Pilates/Yoga studio. Eleni loves inspiring people, and she is continuously learning and loving the results!
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: Greece
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem10.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES 
                      |   PRINCE PALTU-OB
                    p Prince has been teaching/training Hip Hop and other styles (Popping, Locking, House) for over 5 years. He travels around the world to learn more about the dance culture. He is a full time professional dancer, owner of Brewing Point Dance Studio and a Zumba Education Specialist in Philippines.
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: Philippines
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            | ZES since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3")
                    img(src="assets/images/presenters/mem11.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ  
                      |  RODRIGO ANGELLO
                    p Rodrigo was born in Brazil and has loved dancing since he was a young boy. He started his career as a dance teacher, which led him to dancing professionally. He started to live out his passion in Brazil performing ballroom dancing, and soon after diversified with other dance styles. In 2009 he left Brazil for France in order to enlarge his experience. He then joined several dance companies, including the famous Parisian Cabaret! With fitness and physical training diplomas in hand, Rodrigo blends dance and fitness skills, devoting himself to fitness. He puts all his skills, experience, energy, positive personality (and a Brazilian touch!) in order to communicate his passion and give his students the ultimate experience. Let Rodrigo surprise and dazzle you as he takes you into his world.
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: Brazil
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            |ZJ since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem12.png")
                div(class="col-md-9 ")
                    h4 
                      span ZES  
                      | SANDRA HARNES
                    p Sandra has been in the dance, fitness and performance industries since leaving prestigious Dance College "Performers" based in greater London as both professional dancer and choreographer. She has a vast experience in the industry as well as numerous dance music acts including a residency as lead dancer for Ministry of Sound, London. Sandra has also been featured as a soloist in various productions. She has been the principal dancer and lead choreographer for many venues and shows and was also the casting manager and choreographer for a UK-based talent agency. She became a Zumba® Instructor in 2010 and then not long after, gained the role as a Zumba® Jammer and has now become a Zumba® Education Specialist. Sandra was a presenter and choreographer in the 50th anniversary ZIN™ DVD release, presented ZIN™ Jam sessions and a master class at convention. Sandra has a varied experience of many different genres – from hip-hop, street, ragga, dancehall to ballet, jazz and contemporary. She was also credited with “Dancer Of the Year” within the industry SDTA Alliance.
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: United kingdom
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            |ZES since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem13.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ 
                      | RONY GRATEREAUT 
                    p Rony was born and raised in the Residencial Las Margaritas, Puerto Rico. While in school, he participated in talent shows. At the age of 14 he became part of the G.O.P., a dance company located in San Juan, P.R. His training in Jazz, Cultural Dance, Salsa, Funk, Hip Hop, and BreakDance took him to the decision of starting his own Dance company at the young age of 18. Since then Rony has had the opportunity to travel to different parts of the US and Europe representing his Island.  Later on he decided to move to Orlando where he discovered the Zumba® program and fell in love with it instantly. RONY today teaches around 17 classes a week, and hosts Reggaeton and Choreo ZIN™ Jam Sessions as a licensed Zumba® Jammer in Florida. Rony’s goal has always been to present his own session at a Zumba® Convention and bring to the ZIN™ Members new and fresh tools that they can use in their classes!
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: Florida, US
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            |ZJ since: 2013
    section(class="nextsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem14.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ 
                      | LATOYA BUFFORD 
                    p LaToya, known as just "Toya", currently resides in Sacramento, California where she was born. Toya was inspired to become a Zumba® Instructor by her energetic and loving ZIN™ Member mother Linda Taylor. Toya presented Dancehall Mash-Up at the 2013 and 2014 Zumba® Instructor Convention in Orlando and at the 2013 and 2014 Zumba® Instructor Conference in Los Angeles, along with her ZJ™ pal Catherine Chiemelu. Toya has always loved to dance, but it was in college, while attending the University of California - Los Angeles to obtain a degree in economics where she discovered her love and appreciation for the culture and styles of West African dance, Afro-Cuban dance, Caribbean dance, and Jamaican dancehall.
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: California, US
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            |ZJ since: 2013
    section(class="nextsec lastsec")
        div(class="container")
            div(class="row")
                div(class="col-md-3 ")
                    img(src="assets/images/presenters/mem15.png")
                div(class="col-md-9 ")
                    h4 
                      span ZJ 
                      | YUKO TANAKA 
                    p Yuko, also known as the JapeXicana, is a proud Japanese Mexican currently living in Canada. She has been a Zumba® Instructor since 2009 and proudly represents one of the Zumba® Jammers in Canada. Back in Mexico, Yuko practiced many dancing disciplines and took part in numerous dance competitions, locally and nationally. She is always looking for different ways to spice up her classes, not just because of her love for music and dance, but also to welcome all participants that have different backgrounds. A few years ago, she encountered Kizomba, a rhythm that captivated her. Very soon she was emerged in her local Kizomba dancing community. Yuko believes that that through dance and music, we can feed our souls. Come and dance with Yuko!
                    div(class="row dd")    
                        div(class="col-md-0.5" )
                            i(class="fa fa-flag" aria-hidden="true") 
                        div(class="col-md-3" )
                           |Home Town: Canada
                    div(class="row dd")
                        div(class="col-md-0.5" )
                            i(class="fa fa-star" aria-hidden="true")
                        div(class="col-md-3" )
                            |ZJ since: 2009


    nav(class="navbar fixed-bottom  navbar-expand-lg navbar-dark bg-dark-x my-nav ")
         div(class="container")
            a(class="navbar-brand" href="#") 
                div(class="ima im")
                    img(src="assets/images/logo1.png" alt="logo")

            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondnav" aria-controls="secondnav" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse move" id="secondnav")
                ul(class="navbar-nav ulnav")
                    li(class="nav-item  ")
                        a(class="nav-link it " href="#") Home 
                            span(class="sr-only") (current)
                    li(class="nav-item ")
                        a(class="nav-link it" href="#") Glam
                    li(class="nav-item ")
                        a(class="nav-link it" href="#") Distinations 
                    li(class="nav-item ")
                        a(class="nav-link it " href="#") WelcomePart
                    li(class="nav-item")
                        a(class="nav-link it" href="presenters.html" target="_blank") Presenters
                    li(class="nav-item ")
                        a(class="nav-link it" href="#") Registration
                    li(class="nav-item")
                        a(class="nav-link it" href="#") Responsers
                    li(class="nav-item")
                        a(class="nav-link it" href="#") Contact
                ul(class="navbar-nav icon")
                    li(class="nav-item border-icon")
                        a(class="nav-link" href="#") 
                            i(class="fa fa-facebook" aria-hidden="true")
                    li(class="nav-item border-icon")
                        a(class="nav-link" href="#")
                             i(class="fa fa-twitter" aria-hidden="true") 
                    li(class="nav-item border-icon")
                        a(class="nav-link" href="#") 
                             i(class="fa fa-youtube" aria-hidden="true")
                    li(class="nav-item border-icon")
                        a(class="nav-link" href="#") 
                             i(class="fa fa-youtube" aria-hidden="true")
                        
                         


    script(src="assets/js/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
    script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
    script(src="assets/js/bootstrap.min.js")